/*  Custom Style   */

/*
================================
          Fonts
================================
*/
@charset "utf-8";
@font-face {
    font-family: Roboto-Light;
    src: url(../fonts/Roboto-Light.ttf);
}
@font-face {
    font-family: Roboto-Medium;
    src: url(../fonts/Roboto-Medium.ttf);
}
@font-face {
    font-family: Georgia-Italic;
    src: url(../fonts/Georgia-Italic.ttf);
}

.event-p{
  font-family: Roboto-Light;
  font-size: 16px;
  color: #edddeb;
  line-height: 1.23;
}

.event-s{
  font-family: Roboto-Light;
  font-size: 11px;
  color: #edddeb;
  margin-bottom: 15px;
}

.tasks-p{
  font-family: Roboto-Light;
  font-size: 11px;
  color: #edddeb;
  margin-bottom: 15px;
}


body{font-family: 'Roboto', serif;font-weight:300; background-color: transparent; line-height: 1;}
h1, h2, h3, h4, h5, h6{font-family: 'Roboto-Light'; color: #edddeb}


.full{
  background-image:url("../image-assets/page-background.jpg");
  background-repeat:no-repeat;
  background-attachment: fixed;
  background-position: center;
  padding-top: 20px;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.navbar-brand {padding: 15px 0px;}

.page-logo{width: 100px;}
.intro{margin-top: 80px;}
hr {
    margin-top: 20px;
    margin-bottom: 20px;
    border: 0;
    border-top: 2px solid #a0a0ba;
    padding: 0;
}
.btn {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-family: Roboto-Light;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 0px;
}
.btn-outline {
    color: #edddeb;
    border: 1px solid #edddeb;
}
.btn-xl {
    padding: 15px 45px;
    font-size: 11px;
    background-color: transparent;
}

.nav>li>a {
    padding: 10px 5px;
    color: #a0a0ba;
}
.nav-tabs {
  font-family: Roboto-Medium;
  font-size: 16px;
  text-transform: uppercase;
  border-bottom: none;
}
.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover {
    color: #edddeb;
    cursor: default;
    background-color: transparent;
    border: 1px solid transparent;
    border-bottom-color: transparent;
    padding-bottom: 2px;
    font-size: 20px;
    border-bottom: 3px solid #a0deb7;
}

.tab-content ul {
    padding-left: 5px;
    color: #a0deb7;
    margin: 5px 7px;
    font-size: 25px;
}

/*
=======================================
Breakpoints: - 320  - 768 - 992 - 1900
=======================================
*/
@media (max-width: 1900px) {
  .mobile{display: none;}
  .navbar-header {
    top: 65px;
    left: 1040px;
    position: absolute;
}
.heading-med {
    font-family: Roboto-Medium;
    font-size: 26px;
    color: #a0a0ba;
}
.time-goerge{
  font-family: Georgia-Italic;
  font-size: 19px;
  color: #edddeb;
  padding-bottom: 10px;
  border-bottom: 3px solid #a0deb7;
}
.event-p {
    font-family: Roboto-Light;
    font-size: 26px;
    color: #edddeb;
    line-height: 1.23;
    margin-top: 50px;;
}
.event-s {
    font-family: Roboto-Light;
    font-size: 14px;
    color: #edddeb;
    margin-bottom: 15px;
}
.btn-xl {
    padding: 15px 45px;
    margin-top: 50px;
    margin-bottom: 100px;
    font-size: 14px;
    background-color: transparent;
}
.task-heading{font-size: 26px;
  font-family: Roboto-Light;
  color: #edddeb;
}
.tasks-p {
 font-family: Roboto-Light;
 font-size: 14px;
 color: #edddeb;
 margin-bottom: 15px;
}
.header-summary {
    font-family: Roboto-Light;
    color: #a0a0ba;
    font-size: 26px;
    margin-top: 10px;
    margin-bottom: 29px;

}
.summary-neon {
    color: #98d1b0;
    font-size: 45px;
    font-family: Roboto-Light;

}
.summary-blue {
    color: #5582b2;
    font-size: 45px;
    font-family: Roboto-Light;
}
.padding-right {
  padding-right: 30px;
}

}

@media (max-width: 992px) {
  .mobile{display: none;}
  .navbar-header {
    top: 65px;
    left:830px;
    position: absolute;
}
  .heading-med {
    font-family: Roboto-Medium;
    font-size: 26px;
    color: #a0a0ba;
}
.heading-name{
  font-family: 'Roboto-Light';
    color: #edddeb;
    font-size: 47px;
}

.heading-time{
  font-family: Roboto-Light;
  color: #edddeb;
  font-size: 130px;
  margin-top: 10px;
  margin-bottom: 29px;
}
.time-goerge{
  font-family: Georgia-Italic;
  font-size: 22px;
  color: #edddeb;
  padding-bottom: 10px;
  border-bottom: 3px solid #a0deb7;
}
.event-p {
    font-family: Roboto-Light;
    font-size: 26px;
    color: #edddeb;
    line-height: 1.23;
    margin-top: 50px;;
}
.event-s {
    font-family: Roboto-Light;
    font-size: 14px;
    color: #edddeb;
    margin-bottom: 15px;
}
.btn-xl {
    padding: 15px 45px;
    margin-top: 50px;
    margin-bottom: 100px;
    font-size: 14px;
    background-color: transparent;
}
.task-heading{font-size: 26px;
  font-family: Roboto-Light;
  color: #edddeb;
}
.tasks-p {
 font-family: Roboto-Light;
 font-size: 14px;
 color: #edddeb;
 margin-bottom: 15px;
}
.header-summary {
    font-family: Roboto-Light;
    color: #a0a0ba;
    font-size: 26px;
    margin-top: 10px;
    margin-bottom: 29px;

}
.summary-neon {
    color: #98d1b0;
    font-size: 45px;
    font-family: Roboto-Light;

}
.summary-blue {
    color: #5582b2;
    font-size: 45px;
    font-family: Roboto-Light;
}
.padding-right {
  padding-right: 30px;
}
}

@media (max-width: 768px){
  .navbar-header {
    top: 65px;
    left: 635px;
    position: absolute;
}
.heading-med {
    font-family: Roboto-Medium;
    font-size: 21px;
    color: #a0a0ba;
}
.heading-time {
    font-family: Roboto-Light;
    color: #edddeb;
    font-size: 89px;
    margin-top: 10px;
    margin-bottom: 29px;
}
.task-heading{
  font-size: 21px;
  font-family: Roboto-Light;
  color: #edddeb;
}
.tasks-p {
 font-family: Roboto-Light;
 font-size: 13px;
 color: #edddeb;
 margin-bottom: 15px;
}
.time-goerge{
  font-family: Georgia-Italic;
  font-size: 19px;
  color: #edddeb;
  padding-bottom: 10px;
  border-bottom: 3px solid #a0deb7;
}
.mobile{display: none;}
.event-p {
    font-family: Roboto-Light;
    font-size: 21px;
    color: #edddeb;
    line-height: 1.23;
    margin-top: 50px;;
}
.event-s {
    font-family: Roboto-Light;
    font-size: 13px;
    color: #edddeb;
    margin-bottom: 15px;
}

.btn-xl {
    padding: 15px 45px;
    margin-top: 50px;
    margin-bottom: 100px;
    font-size: 14px;
    background-color: transparent;
}
.header-summary {
    font-family: Roboto-Light;
    color: #a0a0ba;
    font-size: 21px;
    margin-top: 10px;
    margin-bottom: 29px;
}
.summary-neon {
    color: #98d1b0;
    font-size: 37px;
    font-family: Roboto-Light;
}
.summary-blue {
    color: #5582b2;
    font-size: 37px;
    font-family: Roboto-Light;
}
.padding-right {
  padding-right: 30px;
}
}

@media (max-width: 320px) {
  .desktop{display: none;}
  .mobile{display: block;}
  .navbar-header {
    top: 0px;
    right: 0px;
    position: static;
   }
   .heading-name {
    font-family: 'Roboto-Light';
    color: #edddeb;
    font-size: 35px;
  }

   .heading-time{
     font-family: Roboto-Light;
     color: #edddeb;
     font-size: 48px;
     margin-top: 10px;
     margin-bottom: 29px;
   }
   .header-summary{
     font-family: Roboto-Light;
     color: #a0a0ba;
     font-size: 18px;
     margin-top: 10px;
     margin-bottom: 29px;
     float: none;
   }
   .task-heading{
     font-size: 21px;
     font-family: Roboto-Light;
     color: #edddeb;
   }
   .tasks-p {
    font-family: Roboto-Light;
    font-size: 11px;
    color: #edddeb;
    margin-bottom: 15px;
}
   .time-goerge{
     font-family: Georgia-Italic;
     font-size: 12px;
     color: #edddeb;
     padding-bottom: 10px;
     border-bottom: 3px solid #a0deb7;
   }
  .navbar-brand {padding: 15px 0px;}
  .intro {
    margin-top: 30px;
}
  .page-logo {
    width: 50px;
}
  .btn-xl {
      padding: 15px 45px;
      font-size: 11px;
      background-color: transparent;
      width: 100%;
  }
  .col-xs-3 {
    padding-right: 0;
  }
  .col-xs-8 {
   padding-left: 0;
   padding-right: 0;
   margin-bottom: 19px;
}
.event-p {
    font-family: Roboto-Light;
    font-size: 16px;
    color: #edddeb;
    line-height: 1.23;
    margin-top: 0px;
}
.summary-neon{
  color: #98d1b0;
  font-size: 30px;
  font-family: Roboto-Light;
  float: none;
}

.summary-blue{
  color: #5582b2;
  font-size: 30px;
  font-family: Roboto-Light;
  float: none;
}
}
